<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ecommerce.test.CompareProduct"/>
      <class name="com.ecommerce.test.ProductDisplay"/>
      <class name="com.ecommerce.test.Checkoutpages"/>
      <class name="com.ecommerce.test.SearchTest"/>
      <class name="com.ecommerce.test.LogoutPageTestCases"/>
      <class name="com.ecommerce.test.ShoppingCartPage"/>
      <class name="com.ecommerce.test.AddToCart"/>
      <class name="com.ecommerce.test.LoginPage"/>
      <class name="com.ecommerce.test.ResetPass"/>
      <class name="com.ecommerce.test.WishList"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
